<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Tin tức du lịch</title>
</head>
<body>
    <h1>Tin tức mới nhất</h1>
    <p>Khám phá các điểm đến hot nhất năm nay!</p>
    <a href="/">Quay lại trang chủ</a>
</body>
</html>
